.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* let the individual app containers grow to page size and scroll if needed. Easier for us to keep a fixed nav or other features later */
  overflow: none;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

input {
  outline: none;
}

#header {
  margin-bottom: 30px;
}