.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

.search-row {
  position: relative;
  width: 100%;
}

.search-container {
  width: 25vw;
  min-width: 400px;
  max-width: 800px;
  position: relative;
  margin-top: 48vh;
  padding: 2px;
}

input {
  outline: none;
}

.search-results {
  position: relative;
  display: flex;
  flex-direction: column;
  border: solid grey;
  border-width: 0px 1px 1px 1px;
  border-radius: 0px 0px 5px 5px;
  padding-bottom: 3px;
  max-height: 20vh;
  overflow-y: auto;
}

.search-result-row {
  display: inline-flex;
  flex-direction: row;
  cursor: pointer;
  padding: 3px;
  min-height: max-content;
  max-width: 100%;
  font-size: 12px;
}

.search-result-row:hover {
  background-color: #eee;
}

.search-result-symbol {
  display: inline-flex;
  min-width: 70px;
}

.search-result-name {
  display: inline-flex;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0px;
  width: min-content;
  overflow: hidden;
}